<%= form_with(model: @post, local: true, url: choose_new_or_edit) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group">
    <%= form.text_field :content, class: 'form-control', placeholder: 'What are you up to?' %>
    <span class="input-group-btn">
      <% if action_name == 'new' || action_name == 'create' || action_name == 'confirm' %>
        <%= form.submit 'Post!', class: 'btn btn-default' %>
      <% elsif action_name == 'edit' %>
        <%= form.submit 'Update!', class: 'btn btn-default' %>
      <% end %>
    </span>
  </div>
<% end %>
<br>
<%= link_to 'Back to Timeline', posts_path, class: 'btn btn-link' %>
