<!DOCTYPE html>
<html>
  <head>
    <title>MakeAPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= image_tag 'tw_logo.png', class: 'header_img' %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <p class="text-muted">© 2021 hoge, Inc.</p>
    </footer>
  </body>
</html>
