<!DOCTYPE html>
<html>
  <head>
    <title>MakeAPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3>Twitter Clone</h3>
    </header>
    <%= yield %>
    <footer>
      <p>© 2021 Sak, Inc.</p>
    </footer>
  </body>
</html>
